{%extends 'base.html'%}
<style>
	.profile-pic{
		max-width: 200px;
		max-height: 200px;
	}
</style>

{%block title%}
Edit {{request.user.username}} Profile
{%endblock%}



{%block content%}
<style>
	img {
		height: 250px;
		width: 250px;
		border-radius: 50%;
		overflow: hidden;
		background-position: center center;
		background-size: cover;
	}
</style>
<h1>Edit Profile: </h1> 
<img src="{{user.profile.profile_pic.url}}" >

<h2>{{request.user.userprofile.username}}</h2>


<form method='post' action="" enctype="multipart/form-data">
	{{form.as_p}}
	{%csrf_token%}
	<input type="submit" value="Save" class="btn btn-warning">
</form>

{%endblock%}
