{%extends 'base.html'%}
{% load static %}
{% block content}

{%block title%}
{{user.username}}
{%endblock%}



{%block content%}
<style>
	img {
		height: 250px;
		width: 250px;
		border-radius: 50%;
		overflow: hidden;
		background-position: center center;
		background-size: cover;
	}
</style>

{%if user.username == request.user.username%}
<h2>Welcome</h2>
<img src="{{user.profile.profile_pic.url}}">

{%endif%}

<h1>{{user.first_name}} {{user.last_name}}</h1>

{%if user.username == request.user.username%}

<p>
	<a class="btn btn-primary" href="{% url 'accounts:edit_profile' user.username %}">Edit Profile</a>
	<a href="{%url 'accounts:delete-event' user.username %}">
		<button class="btn btn-danger">Delete Acount</button>
	</a>
</p>

<p>
	<a href="{%url 'posts:draft_posts' %}">
		<button class="btn btn-primary">Draft Posts</button>
	</a>
</p>


{%else%}

{%if not follow%}
<p>
	<a href="{%url 'accounts:follow' user.username %}">Follow</a>
</p>

{%else%}

<p>
	<a href="{%url 'accounts:unfollow' user.username %}">Unfollow</a>
</p>

{%endif%}

{%endif%}

<p>Username: {{user.username}}</p>
<p>Email: {{user.email}}</p>
<p>Mob No: {{user.profile.mob_no}}</p>
{%endblock%}